READING TEXT FILES

In [28]:
import pandas as pd
df = pd.read_table("text file.txt",sep=",")
df

   PersonID   LastName FirstName  Age
0         1     Hansen       Ola   30
1         2   Svendson      Tove   23
2         3  Pettersen      Kari   20

READING EXCEL FILES

In [20]:
df2=pd.read_excel("shopping.xlsx")
df2

,ITEM ID,DATE,ITEM,CATEGORY,STORE,CITIES,COUNTRY,PROVINCE,PURCHASED,QUANTITY,PRICE,MONTHLY SHOPPING BUDGET,MONTHLY INCOME
0,1,2023-03-09,Lentiles,legumes,No frills,Widsor,Canada,Ontario,Yes,2kg,5.49,100.0,1050.74
1,2,NaT,Beans,legumes,No frills,Widsor,Canada,Ontario,Yes,900g,3.99,NaN,NaN
2,3,NaT,ChicPeas,legumes,No frills,Widsor,Canada,Ontario,Yes,1.8kg,5.49,NaN,NaN
3,4,NaT,Chicken,meat,No frills,Widsor,Canada,Ontario,Yes,1kg,24.89,NaN,NaN
4,5,NaT,Pork,meat,No frills,Widsor,Canada,Ontario,Yes,1kg,11.00,NaN,NaN
5,6,NaT,Spinarch,vegetables,No frills,Widsor,Canada,Ontario,Yes,100g,6.49,NaN,NaN
6,7,NaT,Broccoli,vegetables,No frills,Widsor,Canada,Ontario,Yes,100g,11.49,NaN,NaN
7,8,NaT,Peanut butter,Spread,No frills,Widsor,Canada,Ontario,Yes,1kg,6.29,NaN,NaN
8,9,NaT,Unsalted butter,frying,No frills,Widsor,Canada,Ontario,Yes,100g,7.10,NaN,NaN
9,10,NaT,Bread,whole wheat,No frills,Widsor,Canada,Ontario,Yes,100g,3.99,NaN,NaN
10,11,NaT,Avocado oil,frying,No frills,Widsor,Canada,Ontario,Yes,750ml,15.99,NaN,NaN
11,12,NaT,tea,Caffeine,No frills,Widsor,Canada,Ontario,Yes,1 pack,3.49,NaN,NaN
12,13,NaT,matcha tea,Caffeine,T&T,Toronto,Canada,Ontario,Yes,250g,7.29,NaN,NaN
13,14,NaT,Tray of eggs,Protein,No frills,Etobicoke,Canada,Ontario,Yes,tray,3.69,NaN,NaN
14,15,NaT,Lactancia Milk,Milk,Metro,London,Canada,Ontario,Yes,4 litres,6.99,NaN,NaN
15,16,NaT,Honey,Spread,No frills,London,Canada,Ontario,Yes,1kg,15.49,NaN,NaN
16,17,NaT,Sugar free syrup,Spread,No frills,London,Canada,Ontario,Yes,100ml,2.79,NaN,NaN
17,18,NaT,Lemon,Fruits,No frills,London,Canada,Ontario,Yes,1pd bag,5.99,NaN,NaN
18,19,NaT,Nutella,spread,No frills,London,Canada,Ontario,Yes,2 750 jars,12.99,NaN,NaN
19,20,NaT,Tomato Sauce,Seasoning,No frills,London,Canada,Ontario,Yes,1 litre,5.29,NaN,NaN
20,21,NaT,letuce,Vegetables,No frills,London,Canada,Ontario,Yes,1,2.99,NaN,NaN
21,22,NaT,Paratha,Whole wheat,No frills,London,Canada,Ontario,Yes,640g,3.89,NaN,NaN
22,23,NaT,Nuts,Seeds,No frills,London,Canada,Ontario,Yes,900g,19.99,NaN,NaN
23,24,NaT,Shower gel,Body wash,No frills,London,Canada,Ontario,Yes,1,10.99,NaN,NaN
24,25,NaT,Shampoo,Body wash,No frills,London,Canada,Ontario,Yes,1,6.45,NaN,NaN
25,26,NaT,hand wash,Body wash,Dollarama,London,Canada,Ontario,Yes,1,2.75,NaN,NaN
26,27,NaT,tooth paste,Body wash,Dollarama,London,Canada,Ontario,Yes,1,1.00,NaN,NaN
27,28,NaT,tooth brush,Body wash,Dollarama,London,Canada,Ontario,Yes,1,1.25,NaN,NaN
28,29,NaT,Sponge,Body wash,Dollarama,London,Canada,Ontario,Yes,1,1.25,NaN,NaN
29,30,NaT,Oranges,Fruits,No frills,waterloo,Canada,Ontario,Yes,1 bag,6.99,NaN,NaN
30,31,NaT,Peaches,Fruits,No frills,waterloo,Canada,Ontario,Yes,100ml,2.99,NaN,NaN
31,32,NaT,cherries,Fruits,No frills,waterloo,Canada,Ontario,Yes,1 bag,2.99,NaN,NaN
32,33,NaT,Blue berries,Fruits,No frills,waterloo,Canada,Ontario,Yes,175g,2.99,NaN,NaN
33,34,NaT,Straw berries,Fruits,No frills,waterloo,Canada,Ontario,Yes,900g,7.49,NaN,NaN
34,35,NaT,Black berries,Fruits,No frills,waterloo,Canada,Ontario,Yes,340g,6.99,NaN,NaN
35,36,NaT,Almond Milk,Milk,No frills,waterloo,Canada,Ontario,No,1 pack,3.99,NaN,NaN
36,37,NaT,Oat Milk,Milk,No frills,waterloo,Canada,Ontario,Yes,1 pack,3.99,NaN,NaN
37,38,NaT,Baccon,Meat,No frills,waterloo,Canada,Ontario,Yes,250g,9.99,NaN,NaN
38,39,NaT,Garlic,Seasoning,No frills,waterloo,Canada,Ontario,Yes,250g,2.99,NaN,NaN
39,40,NaT,Onions,Seasoning,No frills,waterloo,Canada,Ontario,Yes,1 bag,2.49,NaN,NaN
40,41,NaT,Tomatoes,Seasoning,No frills,waterloo,Canada,Ontario,Yes,283g,2.49,NaN,NaN
41,42,NaT,Carrots,Seasoning,No frills,waterloo,Canada,Ontario,Yes,1 bag,5.29,NaN,NaN
42,43,NaT,Cabbage,vegetables,No frills,waterloo,Canada,Ontario,Yes,1,3.29,NaN,NaN
43,44,NaT,deodrant,body wash,Metro,Etobicoke,Canada,Ontario,yes,1,8.99,NaN,NaN

READING JSON FILES

In [29]:
df3 = pd.read_json("jay.json")
df3

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

READING CSV FILES

In [31]:
df4=pd.read_csv("cities.csv")
df4

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI
...,...,...,...,...,...,...,...,...,...,...
123,39,31,12,"""N""",119,48,35,"""W""","""Reno""",NV
124,50,25,11,"""N""",104,39,0,"""W""","""Regina""",SA
125,40,10,48,"""N""",122,14,23,"""W""","""Red Bluff""",CA
126,40,19,48,"""N""",75,55,48,"""W""","""Reading""",PA
127,41,9,35,"""N""",81,14,23,"""W""","""Ravenna""",OH